@import url(sidebar.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.right{
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    gap: 20px;
}

.navbar .navcontent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* padding: 20px; */
}

.userinfodd{
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.userinfo{
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
}

.userinfo img{
    width: 30px;
    height: 30px;
}

.newfile{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    align-self: center;
    width: 80%;
    top: 50px;
    display: none;
}

.newfile form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.forminfo{
    display: flex;
    flex-direction: column;
}

.submitbtn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submitbtn button{
    padding: 10px;
    width: 50%;
    background-color: green;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.submitbtn button:hover{
    background-color: rgb(96, 221, 96);
}

.formcontent{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.formcontent input{
    width: 100%;
}

.formcontent select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.title{
    margin-top: 20px;
}

.search{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 11px;
}

input,.searchbar{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: 56%;
}

.statusdd{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.typedd{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.categorydd{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.addfile{
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: green;
    cursor: pointer;
}

.addfile:hover{
    background-color: rgb(96, 221, 96);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

}

.topmost{
    display: flex;
    justify-content: space-between;
    background-color: red;
    /* width: 50%; */
}

.departmentfiles{
    overflow-x: scroll;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

table{
    width:100%;
    border-collapse:collapse;
    /* height: 70vh; */
    /* table-layout:fixed; */
}

th,
td{
    border:1px solid #ddd;
    padding:10px;
    text-align:left;
    vertical-align:top;
    word-wrap:break-word;
    overflow-wrap:break-word;
    font-size:14px;
}

th{
    background:#b6b5b5;
    font-weight:600;
}

tbody tr:hover{
    background:#fafafa;
}

.entries{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.tableno{
    display: flex;
    gap: 10px;
}

.view{
    cursor: pointer;
    color: white;
    background-color: green;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.view a{
    color: white;
    text-decoration: none;
}

.view:hover{
    background-color: rgb(96, 221, 96);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.tableno .no{
    /* background-color: blue; */
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgb(193, 190, 190); */
}

.tableno .active{
    background-color: green;
    color: white;
}

.entries{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
}

.Next{
    cursor: pointer;
    color: white;
    background-color: green;
    border: none;
    width: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.Next:hover{
    background-color: rgb(96, 221, 96);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.recentmails{
    overflow-x: scroll;
}

.bars{
    display: none;
    font-size: 20px;
}

.cancel{
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 5px;
    display: none;
}

.show{
    display: block !important;
}

.hide{
    display: none !important;
}

.cancel1{
    /* display: flex; */
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}


@media screen and (max-width: 870px){
    .left{
        display: none;
        position: absolute;
        height: 100vh;
    }

    .bars{
        display: block;
    }

    .cancel{
        display: block;
    }
}